################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/PontoID/v16
/src/Presentation/PontoID.Web/obj
/src/Services/PontoID.Application/obj
/src/Services/PontoID.Data.Repository.Read/obj
/src/Services/PontoID.Domain/obj
/src/Services/PontoID.Infra.Croscutting.Ioc/obj
/src/Services/PontoID.Infra.Data.Repository/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Infra.Data.Repository/obj
/src/Services/PontoID.Web.Api/obj
/src/PontoID.Domain.Shared/obj
/src/Services/PontoID.Application/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Data.Repository.Read/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Domain/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Infra.Croscutting.Ioc/bin/Debug/netcoreapp3.1
/src/PontoID.Data.Context/obj
/src/PontoID.Data.Context/bin/Debug/netcoreapp3.1
/src/Presentation/PontoID.Web/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Data.Context/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Data.Context/obj
/src/Services/PontoID.Domain.Shared/bin/Debug/netcoreapp3.1
/src/Services/PontoID.Domain.Shared/obj
/src/Presentation/PontoID.Web/bin/Release/netcoreapp3.1
/src/Services/PontoID.Application/bin/Release/netcoreapp3.1
/src/Services/PontoID.Data.Context/bin/Release/netcoreapp3.1
/src/Services/PontoID.Data.Repository.Read/bin/Release/netcoreapp3.1
/src/Services/PontoID.Domain/bin/Release/netcoreapp3.1
/src/Services/PontoID.Domain.Shared/bin/Release/netcoreapp3.1
/src/Services/PontoID.Infra.Croscutting.Ioc/bin/Release/netcoreapp3.1
/src/Services/PontoID.Infra.Data.Repository/bin/Release/netcoreapp3.1
/src/Services/PontoID.Web.Api/bin/Release/netcoreapp3.1
